<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <img src="/img/UberLabs.svg" width="100px" />
      <small class="d-block mb-3 text-muted">&copy; 2021</small>
    </div>
    <div
      class="col-6 col-md row align-content-center row justify-content-center"
    >
      <h5>Team</h5>
      <ul class="d-flex flex-wrap gap-4 list-unstyled text-small text-center">
        <li>
          <a
            class="text-muted text-center"
            href="https://github.com/Monsieur-Nico"
            >Nicolas</a
          >
        </li>
        <li>
          <a class="text-muted" href="https://github.com/Muaadahmed">Muaad</a>
        </li>
        <li>
          <a class="text-muted" href="https://github.com/kencruz">Kenneth</a>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md row align-content-center">
      <h5>Sitemap</h5>
      <ul
        class="
          d-flex
          flex-wrap
          gap-4
          list-unstyled
          text-small
          justify-self-center
        "
      >
        <li><a class="text-muted" href="/">Home</a></li>
        <li><a class="text-muted" href="/restaurant">Restaurant</a></li>
      </ul>
    </div>
  </div>
</footer>
