<header class="header-nav">
    <nav id="navbar" class="active text-white bg-dark">
        <div class="navbar-header">
            <button type="button" id="navbarCollapse" class="btn btn-dark navbar-btn">
                <i class="fa fa-bars"></i>
            </button>
            <h3><img src="/img/UberLabs.svg" width="60" height="54">Uber Labs</h3>
            <strong>UL</strong>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="/">
                    <i class="fa fa-home"></i>
                    <span>
                        Home
                        <span>
                </a>
            </li>
            <li>
                <a href="/orders">
                    <i class="fas fa-receipt">
                    </i>
                    <span>
                        Orders
                        <span>
                </a>
            </li>
            <li>
                <a href="/">
                    <i class="fas fa-user">
                    </i>
                    <span>
                        Profile
                        <span>
                </a>
            </li>
            <li>
                <a href="/favourites">
                    <i class="far fa-heart">
                    </i>
                    <span>
                        Favourites
                        <span>
                </a>
            </li>
            <li>
                <a href="/logout">
                    <i class="fas fa-sign-out-alt">
                    </i>
                    <span>
                        Logout
                        <span>
                </a>
            </li>
        </ul>
    </nav>
</header>