.carousel-inner {
  height: 300px;
}

.featured-restaurant {
  background: white;
}

.featured-restaurant a {
  text-decoration: none;
  color: inherit;
}

.featured-restaurant a:hover {
  color: inherit;
}
