.carousel-inner {
  height: 300px;
}

.featured-restaurant a {
  text-decoration: none;
  color: inherit;
}

.featured-restaurant a:hover {
  color: inherit;
}

.my-5 {
  background: rgba(0, 0, 0, 0.15); 
  color: black;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 2em;
}

.hero-section {
  overflow: hidden;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #c3cdd3, #4b4b4b);
  z-index: -1;
  opacity: 0.7;
}

.vid-content {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 500px; 
  overflow: hidden;
  z-index: -1;
}

.vid-content video {
  min-width: 100%; 
  min-height: 100%; 
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.featured-restaurant {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  z-index: 1;
}

.container-restaurant {
  z-index: 0;
}
