.food-item-order-panel {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: auto;
}

.cart-icon-container {
  position: absolute;
  right: 0;
}

.price-text {
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
}
